name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
          - name: Detailed display
            uses: lowlighter/metrics@latest
            with:
              filename: metrics.plugin.achievements.svg
              token: ${{ secrets.METRICS_TOKEN }}
              base: ""
              plugin_achievements: yes
              plugin_achievements_only: sponsor, maintainer, octonaut
